[submodule "src/fly"]
	path = src/fly
	url = https://github.com/kongpincheng1/Fly_25Season_archive.git
	branch = 25_season_sim_Archive
[submodule "src/detect"]
	path = src/detect
	url = https://github.com/kongpincheng1/Detect_25Season_archive.git
	branch = Detect_25Season_archive
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
	branch = release/1.15
